

.noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.selection-decorator {

	.create-float-layer() {
		position: absolute;
		width:  100%;
		height: 100%;
		content: " ";
		top: 0px;
		left: 0px;
		box-sizing: border-box;
		pointer-events: none;
	}

	td, th {
		position: relative;
		.noselect;

		&.cursor {
			&:after {
				border: 2px solid #1438ff;
				.create-float-layer();
			}
		}


		&.selected:after {
			background: rgba(0,0,255,.3);
			.create-float-layer();
			//border: 1px solid blue;
		}
	}

}


