
body {
	background:red;
}


.selection-decorator {

	.create-float-layer() {
		position: absolute;
		width:  100%;
		height: 100%;
		content: " ";
		top: 0px;
		left: 0px;
		box-sizing: border-box;
	}

	td {
		position: relative;

		&.cursor {
			&:after {
				border: 2px solid #1438ff;
				.create-float-layer();
			}
		}


		&.selected:after {
			background: rgba(0,0,255,.3);
			.create-float-layer();
			//border: 1px solid blue;
		}
	}

}


